#kontaktHuvudDiv{
    width: 100%;
    height: 100%;
    position: fixed;
}

#kontaktForm{
    width: 25%;
    height: auto;
    border-radius: 1em;
    padding: 3%;
    box-shadow: 0 0 0.2em;
    float: left;
    margin-left: 34.5%;
    margin-top: 5%;
    background-color: rgba(60, 110, 168, 0.555);
}

label,
#fornamn,
#efternamn,
#email,
#tel
{
    display: block;
    width: 74%;
    margin-left: 7%;
}

#submit {
    float: right;
    margin-right: 12%;
    width: 81%;
    background-color: white;
}

#submit:hover{
    background-color: green;
}

h3{
    text-align: center;
    margin-top: 0;
}

textarea {
    resize: none;
    height: 30%;
    display: block;
    margin-left: 7%;
    width: 100%;
    margin-bottom: 5%;
}
