#kontaktHuvudDiv{
    width: 100%;
    height: 100%;
    position: fixed;
    overflow-y:scroll;
    overflow-x:hidden;
    background-color: black;
}

#kontaktForm{
    width: 100%;
    height: auto;
    border-radius: 0;
    padding: 0%;
    box-shadow: 0 0 0.2em;
    float: left;
    padding-top: 1%;
    
    background-color: black;
}
@media only screen and (min-width: 768px) {
    #kontaktForm {
        width: 25%;
        margin-left: 34.5%;
        margin-top: 1%;
        padding: 2%;
        border-radius: 1em;
    }
    
}

#karta{
    border:none;
    margin-top: 13%;
    display: block;
    margin-left: 7%;
    width: 81%;
    margin-bottom: 5%;
    height: 13em;
}

label,
#namn,
#email,
#tel,
span
{
    display: block;
    width: 74%;
    margin-left: 7%;
    
}

#submit {
    border:none;
    float: right;
    margin-right: 12%;
    width: 25%;
    height: auto;
    background-color: rgba(115, 185, 115, 0.815);
    font-weight: bold;
    color: white;
   

}

#submit:hover{
    background-color: green;
}

#h3Hitta{
    text-align: left;
    margin-top: 0;
    color: white;
}

#h3Kontakt{
    text-align: center;
    margin-top: 0;
    color: white;
}

label{
    color: white;
}

#meddelande {
    resize: none;    
    height: 5em;
    display: block;
    margin-left: 7%;
    width: 77%;
    
    padding-left: 4%;
    font-size: 1.3em;
    
}

span {
    margin-top: 0;
    color: red;
    font-weight: bold;
}

.hideForm {
    visibility: hidden;
}

#text,
#email,
#tel,
#meddelande,
#namn {
    border: 0;
    border-bottom: 0.1em solid rgb(139, 138, 138);
    background-color: black;
    color: white;
    outline: none;
}

#text,
#email,
#tel,
#namn{
    margin-bottom: 0%;
    font-size: 1.1em;
}


::placeholder {
    color: rgb(116, 113, 113);
}

#submit.disabled, #submit.disabledn:hover {
    background-color: red;
    pointer-events: none;
    
}