#kontaktHuvudDiv{
    width: 100%;
    height: 100%;
    position: fixed;
    overflow-y:scroll;
    overflow-x:hidden;
    background-color: black;
}

#kontaktForm{
    width: 100%;
    height: auto;
    border-radius: 1em;
    padding: 0%;
    box-shadow: 0 0 0.2em;
    float: left;
    
    background-color: rgba(143, 144, 146, 0.555);
}
@media only screen and (min-width: 768px) {
    #kontaktForm {
        width: 25%;
        margin-left: 34.5%;
        margin-top: 1%;
        padding: 2%;
    }
    
}

label,
#namn,
#email,
#tel,
span
{
    display: block;
    width: 74%;
    margin-left: 7%;
}

#submit {
    float: right;
    margin-right: 12%;
    width: 81%;
    width: auto;
    background-color: white;
}

#submit:hover{
    background-color: green;
}

h3{
    text-align: center;
    margin-top: 0;
    color: white;
}

label{
    color: white;
}

textarea {
    resize: none;    
    height: 5em;
    display: block;
    margin-left: 7%;
    width: 20%;
    margin-bottom: 5%;
    font-size: 1em;
    margin-bottom: 0%;
}

span{
    margin-bottom: 5%;
}

input{
    margin-bottom: 0%;
}
