*{
margin: 0%;
padding: 0%;
box-sizing: border-box;


}

body, html {

    height: 100%;
    width: 100%;
    padding: 0%;
    margin: 0%;
    }
    
    

    #menybar{
    height: 15%;
    width: 100%;
    background-color: aqua;
    
    }
    
    
    #menyLista{
    overflow: hidden;
    margin: 0%;
    
    }
    
    li.lista{
    display: inline-block;
    padding: 0.5em;
    margin-left: 2em;
    text-align: center;
    margin-top: 2.5%;
    }

#bakgrund{
    display: flex;
    height: 85%;
    width: 100%;
    background-color: black;
    flex-direction: column;
}

#top{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid red;
    
}
#bottom{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid green;
    


}

.profilBild{
display: flex;
height: 40%;
width: 20%;
margin: auto;

}

#skill{

width: 65%;
height: 100%;

}


.ourText{
    color: white;
    width: 30%;
    margin: auto;
    
}

