*{
margin: 0px;
padding: 0px;
box-sizing: border-box;    
}

html, body{
width: 100%;
height: 100%;
}

nav{
border-bottom: 2px inset white;
display: flex;
justify-content: space-around;
align-items: center;
min-height:15%;
background-color: black;
}

.loggan{
color: white;
text-transform: uppercase;
letter-spacing: 3px;
font-size: 125%;
}

.meny{
display: flex;
width: 45%;
justify-content: space-around;
}
.meny li{
list-style: none; 
}

.meny a:hover{
 color: red;   
}

.meny a{
text-decoration: none;
color: white;
letter-spacing: 2px;
text-transform: uppercase;
}

.scrollLista{
    display: none;
}

.scrollLista div{
width: 25px;
height: 3px;
background-color: white;
margin: 5px    
}

#bottom{
width: 100%;
height: 85%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: black;
}

#BildSpel{
width: 100%;
height: 60%;
background-color: black;
border-top: 2px inset white;
}

#imgBildSpel{
width: 100%;
height: 125%;
border-bottom: 2px inset white;
}

#spelaBildspel{
background:url('play1.png') no-repeat;
background-size: 100% 100%;
cursor:pointer;
width: 100px;
height: 75px;
border: none;  
outline:none;    
}

    @media screen and (max-width:768px){

    body{
    overflow-x: hidden;
    }
    .meny{
    position: absolute;
    right: 0%;
    height: 85%;
    width: 50%;
    top: 15%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.7s ease-in;
    border-left: 2px inset white;
        
    }


    .scrollLista{
    display: block;
    cursor: pointer;
    }

    .meny li{
    text-decoration: underline;
    font-size: 200%;
        
    }

    #bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;

    }
    #BildSpel{
    width: 100%;
    height: 60%;
    background-color: black;
    margin-bottom: 5%;
    }
            
    #imgBildSpel{
    width: 100%;
    height: 100%;
    }
    }

    .meny-active{
    transform: translateX(0%);
    }


        @media screen and (max-width:1024px){
    
        .meny{
        width: 60%;
        }
    
        }