body, html {
height: 100%;
width: 100%;
padding: 0%;
margin: 0%;
}

#menybar{
height: 15%;
width: 100%;
background-color: aqua;

}


#menyLista{
overflow: hidden;
margin: 0%;

}

li.lista{
display: inline-block;
padding: 0.5em;
margin-left: 2em;
text-align: center;
margin-top: 2.5%;
}

.formularContainer{
    height: auto;
    width: 33%;
    margin-top: 10%;
    margin-left: 33%;
    background-color: grey;
    
}

input {
    padding: 1em;
    border: none; 
    margin-bottom: 1.2em;
    font-size: 1em;
    line-height: 1em;
}

#fornamn,
#efternamn,
#email,
#tel,
#meddelande{
    width: 80%;
    box-shadow: inset 0 0.1em 0.1em black;
    outline: 0;
}



textarea {
    width: 100%;
    height: 6em;
    clear: left;
    border: none;}