*{
margin: 0px;
padding: 0px;
box-sizing: border-box;    
}

html, body{
width: 100%;
height: 100%;
}


nav{
display: flex;
justify-content: space-around;
align-items: center;
min-height:15%;
background-color: black;
}

.loggan{
color: white;
text-transform: uppercase;
letter-spacing: 3px;
font-size: 125%;
}

.meny{
display: flex;
width: 45%;
justify-content: space-around;
}
.meny li{
list-style: none; 
}
.meny a{
text-decoration: none;
color: white;
letter-spacing: 2px;
text-transform: uppercase;
}

.scrollLista{
    display: none;
}

.scrollLista div{
width: 25px;
height: 3px;
background-color: white;
margin: 5px    
}

@media screen and (max-width:768px){

    body{
        overflow-x: hidden;
    }
    .meny{
        position: absolute;
        right: 0%;
        height: 100%;
        width: 50%;
        top: 15%;
        background-color: red;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        
        }

        .meny li{
            opacity: 0;
        }
        .scrollLista{
            display: block;
            cursor: pointer;
        }
}

.meny-active{
    transform: translateX(0%);
}







@media screen and (max-width:1024px){
    
    .meny{
        width: 60%;
        }
    
    }