body, html {

    height: 100%;
    width: 100%;
    padding: 0%;
    margin: 0%;
    }
    
    

    #menybar{
    height: 15%;
    width: 100%;
    background-color: aqua;
    
    }
    
    
    #menyLista{
    overflow: hidden;
    margin: 0%;
    
    }
    
    li.lista{
    display: inline-block;
    padding: 0.5em;
    margin-left: 2em;
    text-align: center;
    margin-top: 2.5%;
    }

