*{
margin: 0%;
padding: 0%;
box-sizing: border-box;


}

body, html {

    height: 100%;
    width: 100%;
    padding: 0%;
    margin: 0%;
    }
    
    

#bakgrund{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: black;
    flex-direction: column;
   
}

#top{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
    
   
    
}
#bottom{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    


}

.fornamn{

color: white;
padding: 1em;

}

.selected{
color:white;
text-decoration: underline;
padding: 1em;

}

#skill{

width: 65%;
height: 55%;


}


.ourText{
    margin-top: 10%;
    color: white;
    width: 50%;
    margin-bottom: 5%;
    
}

.fornamn:hover{

    cursor: pointer;

}  

.selected:hover{

    cursor:pointer;
}

@media (min-width: 768px) {

    #bottom{  
        flex-direction: row;
        
    }

    #skill{

        height: 80%;
        width: 50%;
        margin-top: 5%;
        margin-right: 5%;
    }

    .ourText{
        margin-bottom: 10%;
        margin-left: 15%;
        width: 20%;


    }
}