body, html {

    height: 100%;
    width: 100%;
    padding: 0%;
    margin: 0%;
    }
    
    

    #menybar{
    height: 15%;
    width: 100%;
    background-color: aqua;
    
    }
    
    
    #menyLista{
    overflow: hidden;
    margin: 0%;
    
    }
    
    li.lista{
    display: inline-block;
    padding: 0.5em;
    margin-left: 2em;
    text-align: center;
    margin-top: 2.5%;
    }

    
#portfolio{

    height: 100%;
    width: 100%;
    background-color: black;
    
    
    }

.bilderPortfolio{
        display: flex;    
        width: 40%; 
        height: 50%;
        object-fit: contain;
        float: left;                /* Egenskaperna om bilderna */
        margin-top: 5%;
        position: relative;
        margin-left: 30%;
        border-radius: 50%;
        
    }    

    #topPortfolio{
        width: 100%;
        height: 100%;
        background-color: black;    /* övre divven*/
        position: relative;  
        }
        
        #bottomPortfolio{
        width: 100%;
        height: 100%;                    /* nedre divven */
        background-color: black;
        position: relative;
      
        }

        .textPortfolio{
        width: 80%;    
        margin: 0px;    
        margin-top: 6%;            /*Egenskaperna för Texten om projekten */
        padding: 2px;
        position: relative;
        float: left;
        color: white;
        margin-left: 10%;
        display: none;
        }

        .overlay {
        position: absolute;         /* Egenskaperna för overlay divven */
        display: block;    
        width: 40%; 
        height: 50%;
        object-fit: contain;
        float: left;
        margin-top: 5%;
        opacity: 0;     
        margin-left: 30%;
        border-radius: 50%;
        transition: .5s ease;
        }

        .textOverlay {
        color: white;
        font-size: 20px;                /* Texten ovanför loggan    */
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);           /* Texten hamnar i centrum  i loggan    */
        text-align: center;
        opacity: 0;
            
        }
    
        .textOverlay:hover   { /* Gör texten synlig när man hovrar över loggan*/
            opacity: 1;
            
        }  
        .overlay:hover{
            cursor: pointer; 
            opacity: 1;        /* Gör texten synlig när man hovrar över loggan, 
                                annars syns texten då man backa från en sida*/
        } 

        @media (min-width: 768px) {  /* Gör om storlek när skärmen blir större */
            .bilderPortfolio{   
                width: 15%; 
                height: 60%;              /* Egenskaperna om bilderna */
                margin-left: 20%;
                
                }

                .overlay {
                    width: 15%; 
                    height: 60%;
                    margin-left: 20%;
                    
                  }

                  .textPortfolio{
                    width: 30%;    
                    margin-left: 7%;    
                    margin-top: 7%;                 /*Egenskaperna för Texten om projekten */
                   
                  }

                  #topPortfolio{
                    height: 50%;
            
                    
                    }
                    #bottomPortfolio{
                        height: 50%;
                    }
          }