*{
margin: 0%;
padding: 0%;
box-sizing: border-box;


}

body, html {

    height: 100%;
    width: 100%;
    padding: 0%;
    margin: 0%;
    }
    
    

    #menybar{
    height: 15%;
    width: 100%;
    background-color: aqua;
    
    }
    
    
    #menyLista{
    overflow: hidden;
    margin: 0%;
    
    }
    
    li.lista{
    display: inline-block;
    padding: 0.5em;
    margin-left: 2em;
    text-align: center;
    margin-top: 2.5%;
    }

#bakgrund{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: black;
    flex-direction: column;
}

#top{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    
   
    
}
#bottom{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
 


}

.fornamn{

color: white;
padding: 1em;

}

.selected{
color: red;
text-decoration: underline;
padding: 1em;

}

#skill{

width: 65%;
height: 70%;


}


.ourText{
    margin-top: 10%;
    color: white;
    width: 50%;
    margin-bottom: 5%;
    
}

.fornamn:hover{

    cursor: pointer;

}  

.selected:hover{

    cursor:pointer;
}